/* MAIN */

main {
  height: calc(100vh - 70px);
  overflow: hidden;
}

a, 
.subtitle {
  color: #8b8d96;
}

a:hover{
  color: white;
}

/* ASIDE */

.aside {
  width: 200px;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
}
.aside-up {
  height: calc(100% - 120px);
}
.logo{
  width: 130px;
  height: 70px;
}

.icon-text img{
  width: 25px;
  margin-right: 8px;
}

.home,
.search,
.mylibrary{
  margin-bottom:15px;
  padding-left: 13px;
  align-items: center;
}

.home{
  border-left: 2px solid #dbfc8a;
}

/* ASIDE-CENTER */

.ttl {
  font-size: 14px;
  font-weight: 600;
}

.aside-center .icon-text i{
  font-size: 40px;
  margin: 5px 10px 5px 0;
}
.icon-text{
  align-items: center;
}
.aside-center nav{
  margin-top: 10px;
  max-height: 40vh;
  overflow: auto;

}

.aside-center nav ul li a{
  line-height: 32px;
}
/* ASIDE_DOWN */

.aside-down {
  height: 50px;
}




/* MAIN-CONETENT */

.main-content {
  width: calc(100% - 200px);
  max-width: 1400px;
  overflow: auto;
  background-color: #23272f;
}

/* UPPER */

.upper {
  position: fixed;
  z-index: 995;
  top: 0;
  right:0;
  width: calc(100% - 200px);
  height: 75px;
  background-color: rgba(0, 0, 0, .5);
}

.btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 45px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 12px;
}
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* LOWER */

.lower {
  padding-top: 7%;
  width: 100%;
}

.menu-list {
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 15px;
}

.menu-list li {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 20px;
}

.active-box{
  width: 40px;
  height: 2px;
  margin-top: 5px;
  margin: 5px auto;
  background-color: #dbfc8a;
}


.lower-container {
  padding: 0 20px 30px 20px;
}
.library{
  margin-bottom: 30px;
}
.library h1 {
  font-size: 2em;
  padding: 5px 0;
}
.category {
  width:100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
}
.card{
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  width: calc(100% / 7);
  text-align: center;
}
.box {
  width: 12vw;
  height: 12vw;
}

.first-img{
  background-image: url('../img/metal_lifting.jpg');
  background-size: cover;
}
.second-img{
  background-image: url('../img/stranger.jpeg');
  background-size: cover;
}
.third-img{
  background-image: url('../img/aquietplace.jpeg');
  background-size: cover;
}
.forth-img{
  background-image: url('../img/split.jpeg');
  background-size: cover;
}
.fifth-img{
  background-image: url('../img/cure.jpeg');
  background-size: cover;
}
.sixth-img{
  background-image: url('../img/sinister.jpeg');
  background-size: cover;
}

.img-title {
  font-weight: 700;
}
.subtitle{
  font-size: 14px;
}

.overlay{
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}
.overlay i {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  display: block;
}
.box:hover .overlay{
  display: block;
  cursor: pointer;
}


/* PERSONILIZE CATEGORY */

.personalize-lib .first-img{
  background-image: url('../img/radar.jpeg');
}

.personalize-lib .second-img{
  background-image: url('../img/mixdaily.jpeg');
}

/* POPULAR CATEGORY */

.popolari .first-img,
.popolari .second-img{
  border-radius: 50%; 
  overflow: hidden;
}

.popolari .first-img{
  background-image: url('../img/youg.jpeg');  
}

.popolari .second-img{
  background-image: url('../img/player_left.jpg');
}


/* FOOTER */

footer{
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.center-footer{
  width: 40%;
}

.right-footer {
  width:200px;
}