






/* DEBUG */

.debug {
  background-color: rgba(255, 0 , 0, .3);
  border: 1px solid black;
}

.ft-l {
  float: left;
}

.ft-r {
  float: right;
}

.h100 {
  height: 100px;
}

.txt-ctr {
  text-align: center;
}

.dsp-flex{
  display: flex;
}